{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 131, "knowledge_revision": 266, "git_revision": "", "hash": "5eb1ee18836d512da62e476379865f8d", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/ios/Flutter/AppFrameworkInfo.plist", "revision_history": [{"266": ""}]}