{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 68, "knowledge_revision": 195, "git_revision": "", "hash": "d36330778580798c0d9c5a5b71501a0f", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Runner/Configs/Release.xcconfig", "revision_history": [{"195": ""}]}