{"is_source_file": false, "format": null, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 65, "knowledge_revision": 192, "git_revision": "", "hash": "117105d2f2ee718eb485a07574a219b6", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist", "revision_history": [{"192": ""}]}