{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 132, "knowledge_revision": 267, "git_revision": "", "hash": "bd6254e10068a9a3539aa9710626ac24", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/ios/Flutter/Release.xcconfig", "revision_history": [{"267": ""}]}