{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 87, "knowledge_revision": 223, "git_revision": "", "hash": "2b03faed3e462ed0ed348559e4796ed8", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Flutter/Flutter-Debug.xcconfig", "revision_history": [{"223": ""}]}