{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 134, "knowledge_revision": 268, "git_revision": "", "hash": "98a0b62d445e23f439636a8900439a62", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/ios/Flutter/Generated.xcconfig", "revision_history": [{"268": ""}]}