{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 67, "knowledge_revision": 194, "git_revision": "", "hash": "0a7555f820f3e4371d88ec1c339d70ef", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Runner/Configs/Debug.xcconfig", "revision_history": [{"194": ""}]}