{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 69, "knowledge_revision": 196, "git_revision": "", "hash": "e19c2368cf97e5f3eaf8de37cff2b341", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Runner/Configs/Warnings.xcconfig", "revision_history": [{"196": ""}]}