{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 84, "knowledge_revision": 217, "git_revision": "", "hash": "b945a5051bb1cca2d906ac0be98b629a", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Runner/Info.plist", "revision_history": [{"217": ""}]}