{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 71, "knowledge_revision": 199, "git_revision": "", "hash": "6e164fc6ed6acb30c71fe12e29e49642", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Runner/DebugProfile.entitlements", "revision_history": [{"199": ""}]}