{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 126, "knowledge_revision": 263, "git_revision": "", "hash": "d6709b8a8faa088c5d9776f7d58fb5bf", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/ios/Runner/Info.plist", "revision_history": [{"263": ""}]}